adf-dataingestion-dev-001-vv/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dataingestion-dev-001-vv"
		},
		"LS_abls_buyalot_webstore_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_abls_buyalot_webstore'"
		},
		"LS_adls_data_engineering_dl_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_adls_data_engineering_dl'"
		},
		"LS_asql_data_engineering_metadata_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_asql_data_engineering_metadata'"
		},
		"LS_adls_data_engineering_dl_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stdedatalakedev001vv.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_ingest_ws_sales_to_datalake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingest WebStore Online Sales Data into the data lake",
				"activities": [
					{
						"name": "Copy Web Store Online Sales Data",
						"description": "Copy Online Sales Data from the Web Store and ingest into the Data Lake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_abls_buyalot_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_adls_data_engineering_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-06T16:32:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_abls_buyalot_json')]",
				"[concat(variables('factoryId'), '/datasets/DS_adls_data_engineering_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ingest_ws_sales_to_datalake_v2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingest WebStore Online Sales Data into the data lake",
				"activities": [
					{
						"name": "Copy Web Store Online Sales Data",
						"description": "Copy Online Sales Data from the Web Store and ingest into the Data Lake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_abls_buyalot_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_adls_data_engineering_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Send Email",
						"description": "Send email notifications",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy Web Store Online Sales Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-18.francecentral.logic.azure.com:443/workflows/b95b507528f8494c8fdbf422f08fd9f6/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=5y7G-E72zHGzbu7HRi7u_yxOlESxT4vZ1hbVEOPZsZo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "@json(concat('{\r\n\"emailAddress\":\"odb@gbg.bg\",\r\n\"subject\":\"ADF Pipeeline (PL_data_ingestion_json)\",\r\n\"messageBody\":\"Ingestion of Web Store Data into the Data lake has been completed successfully\"\r\n}'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-06T17:28:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_abls_buyalot_json')]",
				"[concat(variables('factoryId'), '/datasets/DS_adls_data_engineering_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ingest_ws_sales_to_datalake_v3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingest WebStore Online Sales Data into the data lake",
				"activities": [
					{
						"name": "Copy Web Store Online Sales Data",
						"description": "Copy Online Sales Data from the Web Store and ingest into the Data Lake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_abls_buyalot_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_adls_data_engineering_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Send Email Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy Web Store Online Sales Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_util_send_email_notifications",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"systemCode": {
									"value": "@pipeline().parameters.systemCode",
									"type": "Expression"
								},
								"datasetName": {
									"value": "@pipeline().parameters.datasetName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"systemCode": {
						"type": "string",
						"defaultValue": "OWS"
					},
					"datasetName": {
						"type": "string",
						"defaultValue": "Sales"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T11:02:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_abls_buyalot_json')]",
				"[concat(variables('factoryId'), '/datasets/DS_adls_data_engineering_json')]",
				"[concat(variables('factoryId'), '/pipelines/PL_util_send_email_notifications')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ingest_ws_sales_to_datalake_v4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingest WebStore Online Sales Data into the data lake",
				"activities": [
					{
						"name": "Copy Web Store Online Sales Data",
						"description": "Copy Online Sales Data from the Web Store and ingest into the Data Lake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_abls_buyalot_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_adls_data_engineering_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Send Email Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Log Pipeline Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_util_send_email_notifications",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"systemCode": {
									"value": "@pipeline().parameters.systemCode",
									"type": "Expression"
								},
								"datasetName": {
									"value": "@pipeline().parameters.datasetName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Log Pipeline Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Web Store Online Sales Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertPipelineLog]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@convertFromUtc(utcnow(),'FLE Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().parameters.runID",
										"type": "Expression"
									},
									"type": "String"
								},
								"SnapshotDate": {
									"value": {
										"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"SourceToTargetID": {
									"value": {
										"value": "2",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"StartTime": {
									"value": {
										"value": "@convertFromUtc(pipeline().TriggerTime,'FLE Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": {
										"value": "Success",
										"type": "Expression"
									},
									"type": "String"
								},
								"UpdateAt": {
									"value": {
										"value": "@convertFromUtc(utcnow(),'FLE Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_asql_data_engineering_metadata",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"systemCode": {
						"type": "string",
						"defaultValue": "OWS"
					},
					"datasetName": {
						"type": "string",
						"defaultValue": "Sales"
					},
					"runID": {
						"type": "string",
						"defaultValue": "1"
					},
					"snapshotDate": {
						"type": "string",
						"defaultValue": "2023-01-09"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T11:02:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_abls_buyalot_json')]",
				"[concat(variables('factoryId'), '/datasets/DS_adls_data_engineering_json')]",
				"[concat(variables('factoryId'), '/pipelines/PL_util_send_email_notifications')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_asql_data_engineering_metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ingest_ws_sales_to_datalake_v5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingest WebStore Online Sales Data into the data lake",
				"activities": [
					{
						"name": "Copy Web Store Online Sales Data",
						"description": "Copy Online Sales Data from the Web Store and ingest into the Data Lake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_abls_buyalot_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_adls_data_engineering_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Set Success Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Copy Web Store Online Sales Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_status",
							"value": "Success"
						}
					},
					{
						"name": "Set Fail Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Copy Web Store Online Sales Data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_status",
							"value": "Fail"
						}
					},
					{
						"name": "Log Pieline Metadata - Success",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Set Success Status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_util_log_pipeline_metadata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"snapshotDate": {
									"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
									"type": "Expression"
								},
								"status": {
									"value": "@variables('v_status')",
									"type": "Expression"
								},
								"runID": {
									"value": "@pipeline().parameters.runID",
									"type": "Expression"
								},
								"sourceToTargetID": "2",
								"pipelineTriggerTime": {
									"value": "@convertFromUtc(pipeline().TriggerTime,'FLE Standard Time')",
									"type": "Expression"
								},
								"pipelineID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"pipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"systemCode": {
									"value": "@pipeline().parameters.systemCode",
									"type": "Expression"
								},
								"datasetName": {
									"value": "@pipeline().parameters.datasetName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Log Pieline Metadata - Fail",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Set Fail Status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_util_log_pipeline_metadata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"snapshotDate": {
									"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
									"type": "Expression"
								},
								"status": {
									"value": "@variables('v_status')",
									"type": "Expression"
								},
								"runID": {
									"value": "@pipeline().parameters.runID",
									"type": "Expression"
								},
								"sourceToTargetID": "2",
								"pipelineTriggerTime": {
									"value": "@convertFromUtc(pipeline().TriggerTime,'FLE Standard Time')",
									"type": "Expression"
								},
								"pipelineID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"pipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"systemCode": {
									"value": "@pipeline().parameters.systemCode",
									"type": "Expression"
								},
								"datasetName": {
									"value": "@pipeline().parameters.datasetName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"systemCode": {
						"type": "string",
						"defaultValue": "OWS"
					},
					"datasetName": {
						"type": "string",
						"defaultValue": "Sales"
					},
					"runID": {
						"type": "string",
						"defaultValue": "1"
					},
					"snapshotDate": {
						"type": "string",
						"defaultValue": "2023-01-09"
					}
				},
				"variables": {
					"v_status": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T11:32:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_abls_buyalot_json')]",
				"[concat(variables('factoryId'), '/datasets/DS_adls_data_engineering_json')]",
				"[concat(variables('factoryId'), '/pipelines/PL_util_log_pipeline_metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ingest_ws_sales_to_datalake_v6')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingest WebStore Online Sales Data into the data lake",
				"activities": [
					{
						"name": "Get Source To Target Details",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[GetSourceToTargetInfo]",
								"storedProcedureParameters": {
									"Dataset": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.datasetName",
											"type": "Expression"
										}
									},
									"SourceSystemCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.systemCode",
											"type": "Expression"
										}
									},
									"Stage": {
										"type": "String",
										"value": {
											"value": "@variables('v_stage')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_asql_source_to_target_details",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Source to Target info",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Source To Target Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Source To Target Details').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy Web Store Online Sales Data",
									"description": "Copy Online Sales Data from the Web Store and ingest into the Data Lake",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_abls_buyalot_files_json",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@item().SourceContainer",
													"type": "Expression"
												},
												"directory": {
													"value": "@item().SourceRelativePathSchema",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().SourceTechnicalName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_adls_data_engineering_folders_json",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@item().TargetContainer",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(item().TargetRelativePathSchema,'/',formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd'))",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().TargetTechnicalName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set Success Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Copy Web Store Online Sales Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_status",
										"value": "Success"
									}
								},
								{
									"name": "Set Fail Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Copy Web Store Online Sales Data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_status",
										"value": "Fail"
									}
								},
								{
									"name": "Log Pieline Metadata - Success",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set Success Status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_util_log_pipeline_metadata",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"snapshotDate": {
												"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
												"type": "Expression"
											},
											"status": {
												"value": "@variables('v_status')",
												"type": "Expression"
											},
											"runID": {
												"value": "@pipeline().parameters.runID",
												"type": "Expression"
											},
											"sourceToTargetID": {
												"value": "@item().SourceToTargetID",
												"type": "Expression"
											},
											"pipelineTriggerTime": {
												"value": "@convertFromUtc(pipeline().TriggerTime,'FLE Standard Time')",
												"type": "Expression"
											},
											"pipelineID": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"pipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"systemCode": {
												"value": "@pipeline().parameters.systemCode",
												"type": "Expression"
											},
											"datasetName": {
												"value": "@pipeline().parameters.datasetName",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Pieline Metadata - Fail",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set Fail Status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_util_log_pipeline_metadata",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"snapshotDate": {
												"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
												"type": "Expression"
											},
											"status": {
												"value": "@variables('v_status')",
												"type": "Expression"
											},
											"runID": {
												"value": "@pipeline().parameters.runID",
												"type": "Expression"
											},
											"sourceToTargetID": {
												"value": "@item().SourceToTargetID",
												"type": "Expression"
											},
											"pipelineTriggerTime": {
												"value": "@convertFromUtc(pipeline().TriggerTime,'FLE Standard Time')",
												"type": "Expression"
											},
											"pipelineID": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"pipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"systemCode": {
												"value": "@pipeline().parameters.systemCode",
												"type": "Expression"
											},
											"datasetName": {
												"value": "@pipeline().parameters.datasetName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"systemCode": {
						"type": "string",
						"defaultValue": "OWS"
					},
					"datasetName": {
						"type": "string",
						"defaultValue": "Sales"
					},
					"runID": {
						"type": "string",
						"defaultValue": "1"
					},
					"snapshotDate": {
						"type": "string",
						"defaultValue": "2023-01-08"
					}
				},
				"variables": {
					"v_status": {
						"type": "String",
						"defaultValue": "Success"
					},
					"v_stage": {
						"type": "String",
						"defaultValue": "SOURCE_TO_RAW"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T13:03:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_asql_source_to_target_details')]",
				"[concat(variables('factoryId'), '/datasets/DS_abls_buyalot_files_json')]",
				"[concat(variables('factoryId'), '/datasets/DS_adls_data_engineering_folders_json')]",
				"[concat(variables('factoryId'), '/pipelines/PL_util_log_pipeline_metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_orch_daily_batch_run')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Daily Batch run orchestration of ingestion pipeline",
				"activities": [
					{
						"name": "Get Batch Run Details",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[GetBatch]",
								"storedProcedureParameters": {
									"PFrequency": {
										"type": "String",
										"value": {
											"value": "@variables('v_frequency')",
											"type": "Expression"
										}
									},
									"PSystemCode": {
										"type": "String",
										"value": {
											"value": "@variables('v_systemcode')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_asql_batch_details",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Batch Run Information",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Batch Run Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Batch Run Details').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Run ingetsion",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_ingest_ws_sales_to_datalake_v6",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"systemCode": {
												"value": "@variables('v_systemcode')",
												"type": "Expression"
											},
											"datasetName": {
												"value": "@item().datasetName",
												"type": "Expression"
											},
											"runID": {
												"value": "@item().RunID",
												"type": "Expression"
											},
											"snapshotDate": {
												"value": "@item().snapshotDate",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Set batch Status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach Batch Run Information",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SetBatchStatus]",
							"storedProcedureParameters": {
								"PFrequency": {
									"value": {
										"value": "@variables('v_frequency')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PSystemCode": {
									"value": {
										"value": "@variables('v_systemcode')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_asql_data_engineering_metadata",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"v_frequency": {
						"type": "String",
						"defaultValue": "DAILY"
					},
					"v_systemcode": {
						"type": "String",
						"defaultValue": "OWS"
					}
				},
				"folder": {
					"name": "orchestration"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T12:52:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_asql_batch_details')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_asql_data_engineering_metadata')]",
				"[concat(variables('factoryId'), '/pipelines/PL_ingest_ws_sales_to_datalake_v6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_util_log_pipeline_metadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Log Pipeline Run info (metadata)",
				"activities": [
					{
						"name": "Test Status",
						"description": "Test the status 'Success' or 'Fail'",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.status,'Success')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Log Pipeline Run Info_Fail",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[InsertPipelineLog]",
										"storedProcedureParameters": {
											"EndTime": {
												"value": {
													"value": "@convertFromUtc(utcnow(),'FLE Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"PipelineID": {
												"value": {
													"value": "@pipeline().parameters.pipelineID",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().parameters.pipelineName",
													"type": "Expression"
												},
												"type": "String"
											},
											"RunID": {
												"value": {
													"value": "@pipeline().parameters.runID",
													"type": "Expression"
												},
												"type": "String"
											},
											"SnapshotDate": {
												"value": {
													"value": "@pipeline().parameters.snapshotDate",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"SourceToTargetID": {
												"value": {
													"value": "@pipeline().parameters.sourceToTargetID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"StartTime": {
												"value": {
													"value": "@pipeline().parameters.pipelineTriggerTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"Status": {
												"value": {
													"value": "@pipeline().parameters.status",
													"type": "Expression"
												},
												"type": "String"
											},
											"UpdateAt": {
												"value": {
													"value": "@convertFromUtc(utcnow(),'FLE Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_asql_data_engineering_metadata",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set Status and Send Message_Fail",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Log Pipeline Run Info_Fail",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_util_set_status_message",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"status": {
												"value": "@pipeline().parameters.status",
												"type": "Expression"
											},
											"triggeredPipeline": {
												"value": "@pipeline().parameters.pipelineName",
												"type": "Expression"
											},
											"systemCode": {
												"value": "@pipeline().parameters.systemCode",
												"type": "Expression"
											},
											"datasetName": {
												"value": "@pipeline().parameters.datasetName",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Log Pipeline Run Info_Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[InsertPipelineLog]",
										"storedProcedureParameters": {
											"EndTime": {
												"value": {
													"value": "@convertFromUtc(utcnow(),'FLE Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"PipelineID": {
												"value": {
													"value": "@pipeline().parameters.pipelineID",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().parameters.pipelineName",
													"type": "Expression"
												},
												"type": "String"
											},
											"RunID": {
												"value": {
													"value": "@pipeline().parameters.runID",
													"type": "Expression"
												},
												"type": "String"
											},
											"SnapshotDate": {
												"value": {
													"value": "@pipeline().parameters.snapshotDate",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"SourceToTargetID": {
												"value": {
													"value": "@pipeline().parameters.sourceToTargetID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"StartTime": {
												"value": {
													"value": "@pipeline().parameters.pipelineTriggerTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"Status": {
												"value": {
													"value": "@pipeline().parameters.status",
													"type": "Expression"
												},
												"type": "String"
											},
											"UpdateAt": {
												"value": {
													"value": "@convertFromUtc(utcnow(),'FLE Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_asql_data_engineering_metadata",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"snapshotDate": {
						"type": "string"
					},
					"status": {
						"type": "string"
					},
					"runID": {
						"type": "string"
					},
					"sourceToTargetID": {
						"type": "string"
					},
					"pipelineTriggerTime": {
						"type": "string"
					},
					"pipelineID": {
						"type": "string"
					},
					"pipelineName": {
						"type": "string"
					},
					"systemCode": {
						"type": "string"
					},
					"datasetName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "utility"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T11:32:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_asql_data_engineering_metadata')]",
				"[concat(variables('factoryId'), '/pipelines/PL_util_set_status_message')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_util_send_email_notifications')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is a utility pipeline that sends email notifications",
				"activities": [
					{
						"name": "Get Email Addresses",
						"description": "Get the email recepients for a specific system code and dataset name",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[GetEmailAddresses]",
								"storedProcedureParameters": {
									"DatasetName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.datasetName",
											"type": "Expression"
										}
									},
									"SystemCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.systemCode",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_asql_email_addresses",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Email Address",
						"description": "Send a message to each email address",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Email Addresses",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Email Addresses').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Send Email",
									"description": "Send email notifications",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-18.francecentral.logic.azure.com:443/workflows/b95b507528f8494c8fdbf422f08fd9f6/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=5y7G-E72zHGzbu7HRi7u_yxOlESxT4vZ1hbVEOPZsZo",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "@json(concat('{\n\"emailAddress\":\"',item().emailAddress,'\",\n\"subject\":\"',pipeline().parameters.subject,'\",\n\"messageBody\":\"',pipeline().parameters.message,'\"\n}'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"systemCode": {
						"type": "string",
						"defaultValue": "OWS"
					},
					"datasetName": {
						"type": "string",
						"defaultValue": "Sales"
					},
					"subject": {
						"type": "string"
					},
					"message": {
						"type": "string"
					}
				},
				"folder": {
					"name": "utility"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T10:09:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_asql_email_addresses')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_util_set_status_message')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Sets the status message from a calling pipeline and constructs a subject and a message",
				"activities": [
					{
						"name": "Switch Status",
						"description": "Constructs a message and subject based on the supplied status of either 'success' or 'fail'",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.status",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "Success",
									"activities": [
										{
											"name": "PL_util_send_email_notifications - Success",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "PL_util_send_email_notifications",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"systemCode": {
														"value": "@pipeline().parameters.systemCode",
														"type": "Expression"
													},
													"datasetName": {
														"value": "@pipeline().parameters.datasetName",
														"type": "Expression"
													},
													"subject": {
														"value": "@concat('ADF Pipeline: ', pipeline().parameters.triggeredPipeline)",
														"type": "Expression"
													},
													"message": {
														"value": "@concat(pipeline().parameters.triggeredPipeline, ' has completed successfully.')",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "Fail",
									"activities": [
										{
											"name": "PL_util_send_email_notifications - Fail",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "PL_util_send_email_notifications",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"systemCode": {
														"value": "@pipeline().parameters.systemCode",
														"type": "Expression"
													},
													"datasetName": {
														"value": "@pipeline().parameters.datasetName",
														"type": "Expression"
													},
													"subject": {
														"value": "@concat('ADF Pipeline: ', pipeline().parameters.triggeredPipeline)",
														"type": "Expression"
													},
													"message": {
														"value": "@concat(pipeline().parameters.triggeredPipeline, ' has failed.')",
														"type": "Expression"
													}
												}
											}
										}
									]
								}
							],
							"defaultActivities": [
								{
									"name": "PL_util_send_email_notifications - Default",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_util_send_email_notifications",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"systemCode": {
												"value": "@pipeline().parameters.systemCode",
												"type": "Expression"
											},
											"datasetName": {
												"value": "@pipeline().parameters.datasetName",
												"type": "Expression"
											},
											"subject": {
												"value": "@concat('ADF Pipeline: ', pipeline().parameters.triggeredPipeline)",
												"type": "Expression"
											},
											"message": {
												"value": "@concat(pipeline().parameters.triggeredPipeline, ' has no valid status:',\npipeline().parameters.status,'. Expecting Fail or Success.')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"status": {
						"type": "string"
					},
					"triggeredPipeline": {
						"type": "string"
					},
					"systemCode": {
						"type": "string"
					},
					"datasetName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "utility"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T10:31:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_util_send_email_notifications')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_abls_buyalot_files_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "JSON source dataset",
				"linkedServiceName": {
					"referenceName": "LS_abls_buyalot_webstore",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "webstore"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_abls_buyalot_webstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_abls_buyalot_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_abls_buyalot_webstore",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "webstore"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "onlinesales.json",
						"container": "sales"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"SalesOrderNumber": {
							"type": "string"
						},
						"SalesOrderLineNumber": {
							"type": "integer"
						},
						"RevisionNumber": {
							"type": "integer"
						},
						"OrderQuantity": {
							"type": "integer"
						},
						"ProductCode": {
							"type": "string"
						},
						"PromotionsCode": {
							"type": "integer"
						},
						"CurrencyCode": {
							"type": "string"
						},
						"UnitPrice": {
							"type": "number"
						},
						"ExtendedAmount": {
							"type": "number"
						},
						"UnitPriceDiscountPct": {
							"type": "number"
						},
						"DiscountAmount": {
							"type": "number"
						},
						"ProductStandardCost": {
							"type": "number"
						},
						"TotalProductCost": {
							"type": "number"
						},
						"SalesAmount": {
							"type": "number"
						},
						"TaxAmt": {
							"type": "number"
						},
						"Freight": {
							"type": "number"
						},
						"CustomerCode": {
							"type": "string"
						},
						"Region": {
							"type": "string"
						},
						"Country": {
							"type": "string"
						},
						"OrderDate": {
							"type": "string"
						},
						"DueDate": {
							"type": "string"
						},
						"ShipDate": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_abls_buyalot_webstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_adls_data_engineering_folders_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_adls_data_engineering_dl",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_adls_data_engineering_dl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_adls_data_engineering_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_adls_data_engineering_dl",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "webstore/raw/onlinesales",
						"fileSystem": "webdevelopment"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_adls_data_engineering_dl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_asql_batch_details')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_asql_data_engineering_metadata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "metdata"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BatchRun"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_asql_data_engineering_metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_asql_email_addresses')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_asql_data_engineering_metadata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "metdata"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SystemCode",
						"type": "varchar"
					},
					{
						"name": "DatasetName",
						"type": "varchar"
					},
					{
						"name": "SystemInfoID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FirstName",
						"type": "varchar"
					},
					{
						"name": "LastName",
						"type": "varchar"
					},
					{
						"name": "EmailAddress",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EmailRecipients"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_asql_data_engineering_metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_asql_source_to_target_details')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_asql_data_engineering_metadata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "metdata"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "SourceToTargetView"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_asql_data_engineering_metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_abls_buyalot_webstore')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to the Buyalot Website Data",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_abls_buyalot_webstore_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_adls_data_engineering_dl')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to the Data engineering Data Lake",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_adls_data_engineering_dl_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_adls_data_engineering_dl_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_asql_data_engineering_metadata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to the Metadata Database",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_asql_data_engineering_metadata_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}