adf-dataingestion-dev-001-vv/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dataingestion-dev-001-vv"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_orch_daily_batch_run')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Daily Batch run orchestration of ingestion pipeline",
				"activities": [
					{
						"name": "Get Batch Run Details",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[GetBatch]",
								"storedProcedureParameters": {
									"PFrequency": {
										"type": "String",
										"value": {
											"value": "@variables('v_frequency')",
											"type": "Expression"
										}
									},
									"PSystemCode": {
										"type": "String",
										"value": {
											"value": "@variables('v_systemcode')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_asql_batch_details",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Batch Run Information",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Batch Run Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Batch Run Details').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Run ingetsion",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_ingest_ws_sales_to_datalake_v6",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"systemCode": {
												"value": "@variables('v_systemcode')",
												"type": "Expression"
											},
											"datasetName": {
												"value": "@item().datasetName",
												"type": "Expression"
											},
											"runID": {
												"value": "@item().RunID",
												"type": "Expression"
											},
											"snapshotDate": {
												"value": "@item().snapshotDate",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Set batch Status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach Batch Run Information",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SetBatchStatus]",
							"storedProcedureParameters": {
								"PFrequency": {
									"value": {
										"value": "@variables('v_frequency')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PSystemCode": {
									"value": {
										"value": "@variables('v_systemcode')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_asql_data_engineering_metadata",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"v_frequency": {
						"type": "String",
						"defaultValue": "DAILY"
					},
					"v_systemcode": {
						"type": "String",
						"defaultValue": "OWS"
					}
				},
				"folder": {
					"name": "orchestration"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T12:52:11Z"
			},
			"dependsOn": []
		}
	]
}