adf-dataingestion-dev-001-vv/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dataingestion-dev-001-vv"
		},
		"TRG_ingest_uploaded_files_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/c59d2b12-dfcd-4e43-bb40-386bc0950b38/resourceGroups/rg-websevelopment-dev-001-vv/providers/Microsoft.Storage/storageAccounts/stwebstoredata001vv"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/TRG_ingest_uploaded_files')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_data_ingestion_adhoc_csv",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/finance/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('TRG_ingest_uploaded_files_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_util_log_pipeline_metadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Log Pipeline Run info (metadata)",
				"activities": [
					{
						"name": "Test Status",
						"description": "Test the status 'Success' or 'Fail'",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.status,'Success')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Log Pipeline Run Info_Fail",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[InsertPipelineLog]",
										"storedProcedureParameters": {
											"EndTime": {
												"value": {
													"value": "@convertFromUtc(utcnow(),'FLE Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"PipelineID": {
												"value": {
													"value": "@pipeline().parameters.pipelineID",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().parameters.pipelineName",
													"type": "Expression"
												},
												"type": "String"
											},
											"RunID": {
												"value": {
													"value": "@pipeline().parameters.runID",
													"type": "Expression"
												},
												"type": "String"
											},
											"SnapshotDate": {
												"value": {
													"value": "@pipeline().parameters.snapshotDate",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"SourceToTargetID": {
												"value": {
													"value": "@pipeline().parameters.sourceToTargetID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"StartTime": {
												"value": {
													"value": "@pipeline().parameters.pipelineTriggerTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"Status": {
												"value": {
													"value": "@pipeline().parameters.status",
													"type": "Expression"
												},
												"type": "String"
											},
											"UpdateAt": {
												"value": {
													"value": "@convertFromUtc(utcnow(),'FLE Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_asql_data_engineering_metadata",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set Status and Send Message_Fail",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Log Pipeline Run Info_Fail",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_util_set_status_message",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"status": {
												"value": "@pipeline().parameters.status",
												"type": "Expression"
											},
											"triggeredPipeline": {
												"value": "@pipeline().parameters.pipelineName",
												"type": "Expression"
											},
											"systemCode": {
												"value": "@pipeline().parameters.systemCode",
												"type": "Expression"
											},
											"datasetName": {
												"value": "@pipeline().parameters.datasetName",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Log Pipeline Run Info_Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[InsertPipelineLog]",
										"storedProcedureParameters": {
											"EndTime": {
												"value": {
													"value": "@convertFromUtc(utcnow(),'FLE Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"PipelineID": {
												"value": {
													"value": "@pipeline().parameters.pipelineID",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().parameters.pipelineName",
													"type": "Expression"
												},
												"type": "String"
											},
											"RunID": {
												"value": {
													"value": "@pipeline().parameters.runID",
													"type": "Expression"
												},
												"type": "String"
											},
											"SnapshotDate": {
												"value": {
													"value": "@pipeline().parameters.snapshotDate",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"SourceToTargetID": {
												"value": {
													"value": "@pipeline().parameters.sourceToTargetID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"StartTime": {
												"value": {
													"value": "@pipeline().parameters.pipelineTriggerTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"Status": {
												"value": {
													"value": "@pipeline().parameters.status",
													"type": "Expression"
												},
												"type": "String"
											},
											"UpdateAt": {
												"value": {
													"value": "@convertFromUtc(utcnow(),'FLE Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_asql_data_engineering_metadata",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"snapshotDate": {
						"type": "string"
					},
					"status": {
						"type": "string"
					},
					"runID": {
						"type": "string"
					},
					"sourceToTargetID": {
						"type": "string"
					},
					"pipelineTriggerTime": {
						"type": "string"
					},
					"pipelineID": {
						"type": "string"
					},
					"pipelineName": {
						"type": "string"
					},
					"systemCode": {
						"type": "string"
					},
					"datasetName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "utility"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T11:32:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ingest_ws_sales_to_datalake_v5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingest WebStore Online Sales Data into the data lake",
				"activities": [
					{
						"name": "Copy Web Store Online Sales Data",
						"description": "Copy Online Sales Data from the Web Store and ingest into the Data Lake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_abls_buyalot_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_adls_data_engineering_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Set Success Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Copy Web Store Online Sales Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_status",
							"value": "Success"
						}
					},
					{
						"name": "Set Fail Status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Copy Web Store Online Sales Data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_status",
							"value": "Fail"
						}
					},
					{
						"name": "Log Pieline Metadata - Success",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Set Success Status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_util_log_pipeline_metadata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"snapshotDate": {
									"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
									"type": "Expression"
								},
								"status": {
									"value": "@variables('v_status')",
									"type": "Expression"
								},
								"runID": {
									"value": "@pipeline().parameters.runID",
									"type": "Expression"
								},
								"sourceToTargetID": "2",
								"pipelineTriggerTime": {
									"value": "@convertFromUtc(pipeline().TriggerTime,'FLE Standard Time')",
									"type": "Expression"
								},
								"pipelineID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"pipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"systemCode": {
									"value": "@pipeline().parameters.systemCode",
									"type": "Expression"
								},
								"datasetName": {
									"value": "@pipeline().parameters.datasetName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Log Pieline Metadata - Fail",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Set Fail Status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_util_log_pipeline_metadata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"snapshotDate": {
									"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
									"type": "Expression"
								},
								"status": {
									"value": "@variables('v_status')",
									"type": "Expression"
								},
								"runID": {
									"value": "@pipeline().parameters.runID",
									"type": "Expression"
								},
								"sourceToTargetID": "2",
								"pipelineTriggerTime": {
									"value": "@convertFromUtc(pipeline().TriggerTime,'FLE Standard Time')",
									"type": "Expression"
								},
								"pipelineID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"pipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"systemCode": {
									"value": "@pipeline().parameters.systemCode",
									"type": "Expression"
								},
								"datasetName": {
									"value": "@pipeline().parameters.datasetName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"systemCode": {
						"type": "string",
						"defaultValue": "OWS"
					},
					"datasetName": {
						"type": "string",
						"defaultValue": "Sales"
					},
					"runID": {
						"type": "string",
						"defaultValue": "1"
					},
					"snapshotDate": {
						"type": "string",
						"defaultValue": "2023-01-09"
					}
				},
				"variables": {
					"v_status": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T11:32:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_util_log_pipeline_metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ingest_ws_sales_to_datalake_v6')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingest WebStore Online Sales Data into the data lake",
				"activities": [
					{
						"name": "Get Source To Target Details",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[GetSourceToTargetInfo]",
								"storedProcedureParameters": {
									"Dataset": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.datasetName",
											"type": "Expression"
										}
									},
									"SourceSystemCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.systemCode",
											"type": "Expression"
										}
									},
									"Stage": {
										"type": "String",
										"value": {
											"value": "@variables('v_stage')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_asql_source_to_target_details",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Source to Target info",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Source To Target Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Source To Target Details').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy Web Store Online Sales Data",
									"description": "Copy Online Sales Data from the Web Store and ingest into the Data Lake",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_abls_buyalot_files_json",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@item().SourceContainer",
													"type": "Expression"
												},
												"directory": {
													"value": "@item().SourceRelativePathSchema",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().SourceTechnicalName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_adls_data_engineering_folders_json",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@item().TargetContainer",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(item().TargetRelativePathSchema,'/',formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd'))",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().TargetTechnicalName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set Success Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Copy Web Store Online Sales Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_status",
										"value": "Success"
									}
								},
								{
									"name": "Set Fail Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Copy Web Store Online Sales Data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_status",
										"value": "Fail"
									}
								},
								{
									"name": "Log Pieline Metadata - Success",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set Success Status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_util_log_pipeline_metadata",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"snapshotDate": {
												"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
												"type": "Expression"
											},
											"status": {
												"value": "@variables('v_status')",
												"type": "Expression"
											},
											"runID": {
												"value": "@pipeline().parameters.runID",
												"type": "Expression"
											},
											"sourceToTargetID": {
												"value": "@item().SourceToTargetID",
												"type": "Expression"
											},
											"pipelineTriggerTime": {
												"value": "@convertFromUtc(pipeline().TriggerTime,'FLE Standard Time')",
												"type": "Expression"
											},
											"pipelineID": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"pipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"systemCode": {
												"value": "@pipeline().parameters.systemCode",
												"type": "Expression"
											},
											"datasetName": {
												"value": "@pipeline().parameters.datasetName",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Pieline Metadata - Fail",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set Fail Status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_util_log_pipeline_metadata",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"snapshotDate": {
												"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
												"type": "Expression"
											},
											"status": {
												"value": "@variables('v_status')",
												"type": "Expression"
											},
											"runID": {
												"value": "@pipeline().parameters.runID",
												"type": "Expression"
											},
											"sourceToTargetID": {
												"value": "@item().SourceToTargetID",
												"type": "Expression"
											},
											"pipelineTriggerTime": {
												"value": "@convertFromUtc(pipeline().TriggerTime,'FLE Standard Time')",
												"type": "Expression"
											},
											"pipelineID": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"pipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"systemCode": {
												"value": "@pipeline().parameters.systemCode",
												"type": "Expression"
											},
											"datasetName": {
												"value": "@pipeline().parameters.datasetName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"systemCode": {
						"type": "string",
						"defaultValue": "OWS"
					},
					"datasetName": {
						"type": "string",
						"defaultValue": "Sales"
					},
					"runID": {
						"type": "string",
						"defaultValue": "1"
					},
					"snapshotDate": {
						"type": "string",
						"defaultValue": "2023-01-08"
					}
				},
				"variables": {
					"v_status": {
						"type": "String",
						"defaultValue": "Success"
					},
					"v_stage": {
						"type": "String",
						"defaultValue": "SOURCE_TO_RAW"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T13:03:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_util_log_pipeline_metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_orch_daily_batch_run')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Daily Batch run orchestration of ingestion pipeline",
				"activities": [
					{
						"name": "Get Batch Run Details",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[GetBatch]",
								"storedProcedureParameters": {
									"PFrequency": {
										"type": "String",
										"value": {
											"value": "@variables('v_frequency')",
											"type": "Expression"
										}
									},
									"PSystemCode": {
										"type": "String",
										"value": {
											"value": "@variables('v_systemcode')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_asql_batch_details",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Batch Run Information",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Batch Run Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Batch Run Details').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Run ingetsion",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_ingest_ws_sales_to_datalake_v6",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"systemCode": {
												"value": "@variables('v_systemcode')",
												"type": "Expression"
											},
											"datasetName": {
												"value": "@item().datasetName",
												"type": "Expression"
											},
											"runID": {
												"value": "@item().RunID",
												"type": "Expression"
											},
											"snapshotDate": {
												"value": "@item().snapshotDate",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Set batch Status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach Batch Run Information",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SetBatchStatus]",
							"storedProcedureParameters": {
								"PFrequency": {
									"value": {
										"value": "@variables('v_frequency')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PSystemCode": {
									"value": {
										"value": "@variables('v_systemcode')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_asql_data_engineering_metadata",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"v_frequency": {
						"type": "String",
						"defaultValue": "DAILY"
					},
					"v_systemcode": {
						"type": "String",
						"defaultValue": "OWS"
					}
				},
				"folder": {
					"name": "orchestration"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T12:52:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_ingest_ws_sales_to_datalake_v6')]"
			]
		}
	]
}